@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32, 22, 43);
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

